/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'tomorrow-bold';
  src: url('assets/fonts/Tomorrow-Bold.ttf');
}

@font-face {
  font-family: 'tomorrow-thin';
  src: url('assets/fonts/Tomorrow-Thin.ttf');
}

html {
  background-color: #F0F0FF;
}