.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.5rem;
}

.bold {
    font-family: 'tomorrow-bold';
}

.thin {
    font-family: 'tomorrow-thin';
}

.title-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding-block-start: 6rem;

    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    .card-row {
        display: flex;
        flex-direction: row;

        height: 32rem;

        gap: 2rem;
        padding-block: 1rem;
        padding-inline: 1rem;

        justify-content: center;
        align-items: center;

        .anim {
            transition: 0.3s ease-in-out;
        }

        .card {
            display: flex;
            flex-direction: column;

            width: 10rem;
            height: 16rem;
            border-radius: 0.1rem;

            justify-content: space-between;
            text-align: center;

            color: #FFFFFF;
            background-color: #000000;

            .bold {
                color: #000000;
            }

            .thin {
                color: #000000;
            }
        }

        .card:hover {
            width: 18rem;
            height: 32rem;

            .bold {
                color: #FFFFFF;
            }

            .thin {
                color: #FFFFFF;
            }
        }

        .nth-studio:hover {
            background-color: #141518;
        }

        .soarer-cycles:hover {
            background-color: #ec3737;
        }

        .brigando-tech:hover {
            background-color: #35418f;
        }

        .brn-robot:hover {
            background-color: #e77b34;
        }

        .divider {
            width: 1px;
            height: 4rem;
            background-color: #000000;
        }
    }
}