.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.5rem;
}

.bold {
    font-family: 'tomorrow-bold';
}

.thin {
    font-family: 'tomorrow-thin';
}

.title-container {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding-block-start: 4rem;

    justify-content: center;
    align-items: center;

    color: var(--main-fg-color);
}

.card-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    .card-row {
        display: flex;
        flex-direction: row;

        height: 32rem;

        gap: 2rem;
        padding-block: 2rem;
        padding-inline: 1rem;

        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;

            width: 10rem;
            height: 16rem;

            justify-content: space-between;
            align-items: center;
            text-align: center;

            color: var(--main-fg-color);
            background-color: var(--card-bg-color);

            .bold {
                color: var(--card-bg-color);
            }

            .thin {
                color: var(--card-bg-color);
            }

            .sq-logo {
                width: 6rem;
                height: 6rem;
            }
        }

        .card:hover {
            width: 24rem;
            height: 32rem;

            .bold {
                color: var(--card-fg-color);
            }

            .thin {
                color: var(--card-fg-color);
            }

            .sq-logo {
                width: 10rem;
                height: 10rem;
            }
        }

        .nth-studio:hover {
            background-color: var(--primary-nth);
        }

        .soarer-cycles:hover {
            background-color: var(--primary-soarer);
        }

        .brigando-tech:hover {
            background-color: var(--primary-btech);
        }

        .brn-robot:hover {
            background-color: var(--primary-brn);
        }

        .divider {
            width: 1px;
            height: 4rem;
            background-color: var(--card-bg-color);
        }
    }
}

.anim {
    transition: 0.3s ease-in-out;
}