 .title {
     font-family: 'tomorrow-bold';
 }

 .subtitle {
     font-family: 'tomorrow-thin';
 }

 .title-container {
     display: flex;
     flex-direction: column;

     justify-content: center;

     .title-bar {
         display: flex;
         flex-direction: column;

         justify-content: center;
         text-align: center;
     }
 }

 .card-container {
     display: flex;
     flex-direction: column;

     justify-content: center;

     .card-row {
         display: flex;
         flex-direction: row;

         gap: 2rem;
         padding-block: 4rem;
         padding-inline: 8rem;

         justify-content: center;
         align-items: center;

         .card {
             display: flex;
             flex-direction: column;

             width: 9rem;
             height: 32rem;
             border-radius: 0.5rem;

             justify-content: space-between;
             text-align: center;

             color: #FFFFFF;
             background-color: #000000;
         }

         .divider {
             width: 1px;
             height: 4rem;
             background-color: #000000;
         }
     }
 }